.Creditt {
  margin-top: 100px;
  height: 250px;
  width: 400px;
  border: 0;
  border-radius: 10px;
  background: url(https://pics.ebaystatic.com/aw/pics/mastercard/blue_card.png); 
  background-size: cover;
  }
  .name{
    position: absolute;
    margin-top: 200px;
    margin-left: 16px;
  }
  .number{
    position: absolute;
    margin-top: 135px;
    margin-left: 16px;
  }
  .validity{
position: absolute;
margin-top: 150px;
margin-left: 250px;
  }
  .total{
    display: flex;
  }
  .nc{
margin-top: 120px;
width: 350px;
margin-bottom: 10px;
  }
  .nuc{
    margin-top: 15px;
    width: 350px;
    
  }
  .dc{
    margin-top: 20px;
    width: 350px;
  }
  .holders{
    display: flex;
    flex-direction: column;
  }